#pig_loading {
	padding-top: 50px;
}

#pig_loading h3 {
	text-align: center;
	padding-top: 0px;
	color:white;
}
#pig_loading svg {
	display:block;
	margin:0 auto;
	 -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }