.aboutPage {
	padding:20px;
	text-align: center;
}
.aboutPage div.text {
	background-color: rgba(0,0,0,0.75);
	border:3px solid black;
	padding:60px;
	border-radius: 20px;
	margin: 5px auto;
	display: inline-block;
}
.aboutPage div h2 {
	color: #FF00FF;
	text-align: center;
	text-decoration: underline;
}
.aboutPage div ul {
	margin-left:20px;
}
.aboutPage div ul li {
	color: white;
	font-size: 14px;
	margin:20px 0 20px 30px ;
	text-align: left;
}