.aboutPage {
	min-height: 100vw;
	padding:20px;
}
.aboutPage div.text {
	background-color: rgba(0,0,0,0.75);
	border:3px solid black;
	padding:10px;
	border-radius: 20px;
	margin: 5px auto;
	width: 80%;
}
.aboutPage div h1 {
	color: white;
}
.aboutPage div p {
	color: white;
	margin:20px 0;
}