.aboutPage {
	background-color: #333;
	min-height: 100vw;
	padding:50px;
}

.aboutPage div {

	margin: 50px auto;
	width: 80%;
}
.aboutPage div h1 {
	color: white;
}
.aboutPage div p {
	color: white;
	margin:20px 0;
}