.experiments-page {
	position: relative;
}
.experiments-page h2 {
	text-align: center;
	color:#FF00FF;
	margin:30px;
}
.exp_content {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}

.exp_content .experiments {
	list-style-type: none;
	background-color: rgba(255, 255, 255, 0.5);
	border: 5px solid black;
	border-radius: 20px;
	padding:30px;
	width:80%;
	margin:0 auto;
	overflow: hidden;
}

.exp_content .experiments ul {
	width:30%;
	list-style-type: none;
	display: inline-block;
	border-right:5px solid black;
	float:left;

}
.exp_content .experiments ul li{
	padding:5px 0;
	cursor:pointer;
}

.exp_content .experiments .experiments-description {
	width:60%;
	padding: 0 10px;
	float:left;
	display: inline-block;
}
.pagination {
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-size: 30px;
}
.pageLink {
	cursor: pointer;
}
.pageLink.activeLink {
	font-size: 40px;
	position: relative;
	top:5px;
	color:#FF00FF;
}
.pageLink:hover {
	color:#FF00FF;
}

@media (min-width: 1024px) {
	.exp_content .experiments {
		width: 800px;
	}
}