.experiments-page {
	position: relative;
}
.experiments-page h2 {
	text-align: center;
	color:#FF00FF;
	margin:30px;
}
.exp_content {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.exp_content .buttonCont{
	text-align: center;

}
.exp_content .buttonCont button{
	padding: 10px;
	border-radius: 10px;
	border:3px solid #FF00FF;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
}
.exp_content ul {
	list-style-type: none;
	background-color: rgba(255, 255, 255, 0.5);
	border: 5px solid black;
	display: inline-block;
	border-radius: 20px;
	padding:30px;
}