div.homePage {
}
div.homePage h1 {
	margin:0;
}

.textCont {
	width: 70%;
	margin:150px auto;
	color: #FF8D27;
	position: relative;
}
.textCont p {
	margin: 25px 0;
}

div.homePage .textCont p a, 
div.homePage .textCont p a:visited {
	color:#F98602;
	font-weight: bold;

}
div.homePage .textCont p a:active,
div.homePage .textCont p a:hover {
color:#FFC30B;
}

.textCont svg {
	position: absolute;
	right:0;
}

@media (min-width: 1024px) {

	.textCont {
		width: 700px;
	}



}