div.homePage {
	min-height: 100vw;
}
div.homePage h1 {
	margin:0;
}

.textCont {
	width: 70%;
	margin:150px auto;
	color: #FF8D27;
	position: relative;
}
.textCont svg {
	position: absolute;
	right:0;
}

@media (min-width: 1024px) {

	.textCont {
		width: 700px;
	}



}