.gamePagination {
	margin:20px;
	text-align: center;
}
.gamePagination div.pagination {
	display: inline-block;
}

.gamePagination div.pagination span {
	display: inline-block;
	border: 1px solid black;
	padding:10px;
	cursor: pointer;
	width: 50px;
	font-size: 15px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	color:black;
}
.gamePagination div.pagination span.activeSpan {
	background-color: #333;
	color:white;
}	
.gamePagination div.pagination span.fiveBack {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.gamePagination div.pagination span.fiveForward {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.gamePagination div.pagination span:hover:not(.activeSpan) {
	background-color: #CCCCCC;
	color:white;
}
.paginationText {
	min-height: 20px;
}

@media (min-width: 1024px) {
.gamePagination div.pagination span {
	padding:10px;
	cursor: pointer;
	width: 50px;
	font-size: 15px;
}



}