


.contactPage form {

	display: block;
	padding: 30px;
	border:3px solid white;
	margin: 50px auto;
	border-radius: 10px;
	text-align: center;
	width:90%;
	position: relative;
	z-index: 3;
	background-color: rgba(0,0,0,0.5);
}

.contactPage form input {
	display:block;
	width: 100%;
	font-size: 15px;
	padding:10px;
	margin:10px 0 ;
	border-radius: 3px;
	border:1px solid white;
	outline: none;
}
.contactPage form input:focus {
	background-color: white;
}
.contactPage form input:-webkit-autofill, 
.contactPage form textarea:-webkit-autofill, 
.contactPage form select:-webkit-autofill {
    background-color: white !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

textarea {
	display:block;
	width: 100%;
	font-size: 15px;
	padding:10px;
	margin:10px 0;
	border-radius: 3px;
	min-height: 150px;
	border:1px solid white;
}
.contactPage form div.buttonDiv {
	text-align: right;

}
.contactPage form input[type="submit"] {
	cursor:pointer;
	width:50%;
	display: inline-block;
}
.contactPage form input[type="submit"]:hover {
	background-color: #FF00FF;
}
.contactPage form input[type="submit"]:active {
	background-color: #000000;
	color:white;
}
.contactPage img {
	width:90%;
}



@media (min-width: 1024px) {
	.contactPage form {
		width:800px;
	}
	.contactPage img {
		width:800px;
	}

}