

.contactPage fieldset {
	display: inline-block;
	border:3px solid white;
	margin: 50px auto;
	border-radius: 10px;
	text-align: center;
	width:90%;
}
.contactPage fieldset legend {
	text-align: left;
	color:white;
	letter-spacing: 5px;
	padding:0 5px;
}

.contactPage form {
	display: inline-block;
	width:100%;
}
.contactPage form input {
	display:block;
	width: 100%;
	font-size: 15px;
	padding:10px;
	margin:10px 0 ;
	border-radius: 3px;
	border:1px solid white;
}
.contactPage form textarea {
	display:block;
	width: 100%;
	font-size: 15px;
	padding:10px;
	margin:10px 0;
	border-radius: 3px;
	min-height: 150px;
	border:1px solid white;
}
.contactPage form div.buttonDiv {
	text-align: right;

}
.contactPage form input[type="submit"] {
	cursor:pointer;
	float: right;
	width:50%;
}


@media (min-width: 1024px) {
.contactPage fieldset {
	
	width:500px;
}




}