nav {
	position: relative;
	background:grey;
	width:100%;
	border-bottom:1px;
	font-size: 20px;
	height:50px;
	z-index: 5;
}
nav h1 {
	display: inline-block;
	margin:0 calc(50% - 175px);
	width: 350px;
	text-align: center;
	transition: margin 0.5s;
}
.logInForm h1 {
	font-size: 50px;
}
.links {
	position: absolute;
	left:0;
	top:-150px;
	width:100%;
	margin:0;
	padding:0;
	transition: top 0.5s;
	z-index: 3;
}
.not-links {
	background-color: grey;
	position:relative;
	z-index: 4;
}
.links.open {
	top:50px;
}
.links a {
	display:block;
	width:100%;
	margin:0;
	padding:0;
	text-align: center;
	color:white;
	padding:10px 0;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid black;
	background-color: rgba(0,0,0,0.85);
}
.links a:hover {
	color:white;
/*	background-color: red;*/
}
.links a:visited {
	color:white;
/*	background-color: red;*/
}
.hamburger {
	display: inline-block;
	border:1px solid black;
	border-radius: 5px;
	padding:3px 5px 0;
	width:40px;
	height:40px;
	cursor: pointer;
	position:absolute;
	right:5px;
	top:5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}
.hamburger span {
	display: block;
	border-bottom: 1px solid black;
	margin-top:7px;
}
@media (min-width: 1024px) {
	nav {
		text-align: left;
	}
	nav h1 {
		text-align: left;
		margin:0 0 0 10px;
	}
	.hamburger {
		display: none;
	}
	.links {
		position: relative;
		top:0;
		width:auto;
		display: inline-block;
		height:100%;
		float:right;

	}
	.links.open {
		top:0;
	}
	.links a {
		color:black;
		display:inline-block;
		width:auto;
		height:100%;
		margin:0 20px;
		padding:10px;
		cursor:pointer;
		text-decoration: none;
		background-color:transparent;
		border:none;
	}
	.links a:hover {
		color:black;
	/*	background-color: red;*/
	}
	.links a:visited {
		color:black;
	/*	background-color: red;*/
	}
	.not-links {
		display: inline-block;
		background-color: transparent;
	}
}