.morphingDivs {
	position: absolute;
	top:0;
	left:0;
	height:100vw;
	width:100vw;
}
.st0_about{
	fill:#FF00FF;
	stroke:#000000;
	stroke-width:5;
	stroke-miterlimit:10;
	display:none;
}
.st1_about{
	fill:#FF0000;
	stroke:#000000;
	stroke-width:5;
	stroke-miterlimit:10;
}